{% if site_logo %}
  <a href="{{ site_home }}" title="{{ site_name }}" rel="home">
    {{ site_logo }}
  </a>
{% endif %}
<a href="{{ site_home }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
