{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - client: The consumer entity that is requesting access.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 * - logged_in: Flag for logged in users. Will be true when the current user
 *   is logged in.
 * - content: Rendered chidler of the elements array.
 * - elements: The raw render array.
 *
 * @see template_preprocess_consumer()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>

  <header>
    {{ title_prefix }}
    <h2{{ title_attributes }}>{{ label }}</h2>
    {{ title_suffix }}
  </header>

  <section>{{ image }}</section>
  <section>{{ description }}</section>

</article>
